body  {
  background: hsl(0, 0%, 98%);
  font-family: 'Poppins', sans-serif;
  font-size: 0.9375rem
  margin: auto;
  padding-top: 50px;
  position: relative;
  text-align: center;
}

p {
  color: hsl(229, 6%, 66%);
}

footer {
  display: block;
  position: relative;
  top: 300px;
}

/*------------------ Classes--------------------*/
.Heading
{
  color: hsl(229, 6%, 66%);
  font-weight: 200;
  margin: 0;
}

.subtitle {
  font-weight: 600;
  margin-top: 0;
}

.subtitle-text {
  margin: auto;
  text-align: center;
  width: 25%;
}

.Cards {
  position:relative;
}

.Card-Top,  .Card-Right, .Card-Bottom, .Card-Left {
  border-top: 7px  solid;
  border-radius: 2%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  height: 230px;
  margin: auto;
  padding-left: 40px;
  position: relative;
  text-align: left;
  transition: 1.0s;
  width: 18%;
}

.Card-Top img,  .Card-Right img, .Card-Bottom img, .Card-Left img {
  position: absolute;
  right: 0;
  padding-right: 6%;
}

.Card-Right, .Card-Left {
  position: absolute;
  top:100px;
}

.Card-Top {
  border-color: hsl(0, 78%, 62%);
  margin: 3% auto 2%;
}

.Card-Bottom {
  border-color: hsl(34, 97%, 64%);
}

.Card-Left {
  border-color: hsl(180, 62%, 55%);
  left:15%;
}

.Card-Right {
  border-color: hsl(212, 86%, 64%);
  right:15%;
}
